mixin item(title, company, location, from_date, to_date)
    .blocks
        .date
            if from_date
                span= from_date
            if to_date
                span= to_date
        .decorator
        .details
            header
                h3= title
                if company
                    span.company= company
                if location
                    span.location= location
            .description
                block

mixin skill(name, level)
    li
        span= name
        span.level
            - var n = 0
            while n < level
                span |
                - n++
            - var n = 0
            while n < 5 - level
                span.grey |
                - n++
